---
layout: default
---
<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<p>University of Minho, Braga</p>
							<ul class="actions">
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div class="content">
								<div class="inner">
									<h2>About Me</h2>
									<p>I corrently study Software Engineering (third year)</p>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What I do</h2>
							<p>I am a student, but from that you don't see anything diferent in me. So this is basically what i do more that most students.</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>CeSIUM</h3>
									<p>Im a member of my student association a.k.a CeSIUM since my second year an allready gave several talks during this period, you can see my posts for more information</p>
								</section>
								<section>
									<span class="icon major fa-code"></span>
									<h3>CAOS</h3>
									<p>I'm a member of CaOS , Center of support for open source</p>
								</section>
								<section>
									<span class="icon major fa-users"></span>
									<h3>CoderDojo</h3>
                  <p> I'm a mentor in my local CoderDojo (CoderDojoBraga) </p>
								</section>
								<section>
									<span class="icon major fa-usb"></span>
									<h3>SEI</h3>
									<p>SEI is the Software Engineering Week, and is a event organized by our degree student association (CeSIUM), of which im a member and collaborator,that brings talks and companies to our University</p>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>Events</h3>
									<p>I've attendend Pixel's Camp, first and second edition, MIUP (a intra-University competive coding event) and SEI 2016 and 2017(as staff).</p>
								</section>
							</div>
						</div>
</section>

<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul>
